* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #8ea79d;
}
p,
h3 {
  background-color: rgb(255, 255, 255);
  color: rgb(136, 136, 136);
  margin-bottom: 0.4rem;
}
.container {
  display: flex;
  max-width: 90rem;
  margin: 5rem auto;
  justify-content: center;
}
.thumbnail {
  height: 6rem;
  border-radius: 50rem;
}
.thumbnail-icon {
  background-color: rgb(236, 236, 236);
  height: 3rem;
  border-radius: 0.3rem;
  border: 2px solid transparent;
}
.cards {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  min-width: 16rem;
  padding: 1rem;
  align-items: center;
  gap: 0.8rem;
  box-shadow: 2px 2px gold, -1rem 0 0.4rem grey;
}
.card-disable {
  background-color: rgb(178, 178, 178);
}
.card-disable h3,
.card-disable p {
  background-color: rgb(178, 178, 178);
  color: rgb(123, 123, 123);
}
a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.7rem 1rem;
  text-decoration: none;
  letter-spacing: 1px;
}
a:hover {
  background: #ddd;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    min-width: 15rem;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
